.App {
  font-family: monospace;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(20, 7, 7);
}

.Banner {
  margin: 0.5vw;
  padding: 0vw 2vw 0vw 2vw;
  text-align: center;
  font-weight: bold;
  font-size: 1.75vw;
  color: #002933;
  background-color: #005266;
  border: 0.25vw solid #005266;
  border-radius: 2vw;
}

.Exhibit {
  float: left;
  margin: 0.5vw;
  padding: 10px;
  text-align: center;
  color: darkblueS;
  background-color: black;
  border-radius: 2vw;
}

.ExhibitHeading {
  font-weight: bold;
  font-size: 1.75vw;
}

.ExhibitContent {
  margin: 0.5vw;
  padding: 1vw 1vw 1vw 1vw;
  text-align: center;
  font-weight: bold;
  font-size: 1.75vw;
  color: #002933;
  background-color: #334e55;
  border: 0.25vw solid #334e55;
  border-radius: 2vw;
}

