.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(201, 203, 207);
}

.App-link {
  color: #61dafb;
}

.Exhibit {
  background-color: black;
  color: darkcyan;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.GalleryStyle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.GalleryStyle > *{
  width: calc(50% - 5px);
  margin-bottom: 10px;
} 


